$white: #ffffff;
$blue: #111e6c;
$red: #ef434e;
$dark-gray: #323232;
$light-gray: #969696;
$my-background-color: #e5e7ef;
$gradient1: linear-gradient(to right, #132468, #911d59);
$gradient2: linear-gradient(to right, #62325e, #af6477);
$font: Montserrat, sans-serif;
$navoption-width: 10px;
$border-round: 20px;